<a href="https://github.com/" target="_blank" rel="noopener"><i class="fab fa-github"></i></a>
<a href="https://www.linkedin.com/" target="_blank" rel="noopener"><i class="fab fa-linkedin-in"></i></a>